
    <%- include('partials/header') %>

    <div class="sidemenu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-account">Create an Account</a></li>
                <li><a href="/find-pet">Find a dog/cat</a></li>
                <li><a href="/dog-care">Dog Care</a></li>
                <li><a href="/cat-care">Cat Care</a></li>
                <li><a href="/give-away">Have a pet to give away</a></li>
                <li class="active"><a href="/contact">Contact Us</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <section>
            <h3>Website Creator's information</h3>
            <p>Name: Karim Mawji</p>
            <p>Student Id: 40281154</p>
            <p>Email: k_mawji@live.concordia.ca</p>
            <p>Address: 1455 Blvd. De Maisonneuve Ouest, Montreal, Quebec H3G 1M8</p>
            <img src="/images/contact.jpeg" alt="contact us">
        </section>
    </div>

    <%- include('partials/footer') %>

    <script src="/js/Q8.js"></script>
</body>
</html>
