
    <%- include('partials/header') %>

    <div class="sidemenu">
        <nav>
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/create-account">Create an Account</a></li>
                <li><a href="/find-pet">Find a dog/cat</a></li>
                <li><a href="/dog-care">Dog Care</a></li>
                <li><a href="/cat-care">Cat Care</a></li>
                <li><a href="/give-away">Have a pet to give away</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <section>
            <h1>Welcome to Pet Connector!</h1>
            <h3>Who are we?</h3>
            <p>At Pet Connector, we put the pets first. Thank you
                for choosing Pet Connector to adopt your next pet 
                or to put your pet up for adoption. We are here to make 
                the whole process easier. If you have any questions, please
                use the contact page to get in touch with us.
            </p>
            <img src="/images/dogandcat.jpeg" alt="Picture of dog and cat">
        </section>
    </div>

    <%- include('partials/footer') %>

    <script src="/js/Q8.js"></script>
</body>
</html>
