<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <header>
            <table>
                <tr>
                    <th style="font-size: 25px;">Pet Connector</th>
                    <td>
                        <a href="Q8.html"><img src="/images/petlogo.jpg" alt="pet connector logo" style="width:50px"></a>
                    </td>
                    <td><p id="date"></p></td>
                </tr>
            </table>
        </header>
      </div>
